extends layout

block content
  	h1= title

  	h2= Add User
  	form
  		label= Name
  		input(name="name")

  	h2= User List
  	table
  		thead
  			tr
  				th= ID
  				th= Name
  				th= Actions
  		tbody
  			tr
  				
